//variables du projet

//couleurs
$base-color: #222;

//fonts
$serif: unquote("Georgia, 'DejaVu Serif', Norasi, serif");
$sans-serif: unquote("Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif");
$monospace: unquote("Consolas, Monaco, 'Liberation Mono', 'Courier New', Courier, monospace");
$base-font-family: $sans-serif;
$base-font-size-px: 16px;
$base-font-size: rem($base-font-size-px);
$base-line-height: rem(21px);